@import "default";
@import "compass/css3";

body {
  article {
   @include column(24);
   margin: 0;

    header {
      position: relative;
      padding: 10px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #CCC;

      h2 {
        width: 90%;
      }

      time {
        position: absolute; 
        width:  56px;
        right: 0;
        top: -28px;
        padding: 10px;
        border: 1px solid #CCC;
        
        span {
          padding: 2px;
          & + span {
            & + span {
              clear: both;
              display: block;
            }
          }
        }
      }
    }
  }
}
