.DS_Store
log
tmp
db/*.sqlite3
coverage
solr
Gemfile.lock
public/cache
public/system
public/stylesheets
public/assets
public/javascripts/*_packaged.js
public/javascripts/all.js
doc/specs.html
doc/features.html
tags
*.swp
*.swo
.sass-cache/
rerun.txt
.bundle
db/schema.rb
specifications
cache
gems
capybara-*.html
*.orig
public/sitemap*
*~
config/database.yml
