@import "compass/css3";
@import 'partials/typography';
@import "default";

body {
  background: #FFF;

  & > div {
    position: relative;
    @include container;

    & > header, & > footer {
      @include column($blueprint-grid-columns, true);
    }

    & > header {
      border-bottom: 1px solid #CCC;
      padding: 20px 0;
      margin-bottom: 20px;
    }
  }

  #posts {
    @include column(18);

    li {
      padding: 10px 0;
    }
  }

  aside {
    @include column(6);
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 130px;

    img {
      width: 100%;
      @include border-radius(5px);
    }
  }
}
