@import "default";
@import "compass/css3";

body {
  article {
   @include column(24);
   margin: 0;

   a {
    display: block;
    margin-top: -5px;
  }

    header {
      position: relative;
      padding: 10px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #CCC;

      h2 {
        width: 90%;
      }

      time {
        position: absolute; 
        width:  56px;
        right: 0;
        top: -27px;
        padding: 10px;
        border: 1px solid #CCC;
        
        span {
          border-bottom: 1px solid #CCC;
          padding: 2px;
          clear: both;
          display: block;

          & + span {
            border: none;
          }

        }
      }
    }

    @for $i from 1 through 6 {
      h#{$i} {
        font-size: 32px - ($i * 2);
        font-family: 'Signika Negative', sans-serif;
        font-weight: bold;
        color: #333;
      }
    }

    p {
      padding: 10px 0;
      font-size: 16px;
      line-height: 17px;

      strong {
        font-weight: bold;
      }
      em {
        text-decoration: underline;
      }
    }
  }
}
