@import "compass/css3";
@import 'partials/typography';
@import "default";

body {
  background: #FFF;

  & > div {
    position: relative;
    @include container;

    & > header, & > footer {
      @include column($blueprint-grid-columns, true);
    }

    & > header {
      border-bottom: 1px solid #CCC;
      padding: 20px 0;
      margin-bottom: 20px;
    }

    & > footer {
      padding: 20px 0;
      border-top: 1px solid #CCC;
    }
  }

  #posts {
    @include column(18);

    li {
      padding: 10px 0;
    }
  }

  aside {
    @include column(6);
    margin-right: 0;

    img {
      width: 100%;
      @include border-radius(5px);
    }

    nav {
      width: 185px;
      margin: 5px auto;

      ul {
        overflow: hidden;

        li {
          float: left;
          padding: 0 5px;
          border-left: 1px solid #CCC;

          &:first-child {
            border: none;
          }
        }
      }
    }

    h1 {
      border-top: 1px solid #CCC;
      padding: 10px 0;
    }
    
    > ul {
      li {
        margin-bottom: 10px;
        position: relative;
        padding: 5px 0;

        &:hover {
          background: #F8F8F8;
        }
        
        a {
          display: block;
          max-width: 178px;
          height: 32px;
          padding: 7px 0 0 5px;
        }

        time {
          background: image-url('default/post-date.png') no-repeat;
          position: absolute;
          top: 5px;
          right: 7px;
          width: 32px;
          height: 22px;
          padding-top: 11px;

          span {
            display: block;
            clear: both;
          }
        }
      }
    }
  }
}
