= render :layout => "layouts/panel", :locals => { :title => (defined?(title) ? title : configuration['description']) } do
  %h2 Editing post

  = render 'form'
  = link_to "Publish", publish_panel_post_path(@post), :method => :put, :class => "button"

