= image_tag "bruno.jpg"
%nav
  %ul
    %li
      %a{:href => "http://twitter.com/bchagas"} Twitter
    %li
      %a{:href => "http://github.com/bchagas"} Github
    %li
      %a{:href => "http://www.linkedin.com/in/brunochagas"} Linkedin
